h1 {
    text-align: center;
}

section {
    width: 100%;
    border: 2px solid red;

    h2 {
        text-align: center;
    }
}

li {
    a:hover {
        color: white!important;
        text-decoration: underline!important;
        -webkit-text-decoration-color: red!important;
                text-decoration-color: red!important;
    }
}

.projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            @media (max-width: 768px) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }
    article {
        margin: 5%;
        h3 {
            @media (max-width: 768px) {
                text-align: center;
            }
        }
    }
}