h1 {
    text-align: center;
}

section {
    width: 100%;
    border: 2px solid red;

    h2 {
        text-align: center;
    }

    .projects {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        article {
            margin: 5%;
        }
    }
}