body {
  background-image: url("../img/folk-pattern.png");
}

h1 {
  margin-top: 2%;
  text-align: center;
}

section {
  background-color: #ffffff;
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.75);
  margin: 3%;
  h3 {
    margin: 3%;
    padding-top: 3%;
  }
}
ul li a:hover {
  color: white !important;
  transform: scale(1);
  opacity: 1;
  filter: blur(0);
}

ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff497c;
  transition: 0.5;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}
ul li a:hover::before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

figcaption {
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  img {
    padding-left: 2%;
    width: 50%;
    @media (max-width: 768px) {
      width: 97%;
      padding-top: 3%;
      padding-left: 0;
    }
  }
  article {
    margin: 3%;
    width: 80%;
    h3 {
      margin: 0;
      margin-bottom: 3%;
    }
  }
}

.skills {
  .skillsGrid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-gap: 5em;
    justify-content: space-evenly;
    @media screen and (max-width: 960px) {
      grid-gap: 1em;
    }
    @media screen and (max-width: 420px) {
      grid-template-columns: 100px 100px;
      grid-gap: 2em;
    }
    img {
      width: 100px;
      height: 64px;
    }
  }
}

.projectStory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  @media (max-width: 768px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  h3 {
    @media (max-width: 768px) {
      text-align: left;
    }
  }
  article {
    width: 50%;
    margin: 3%;
    margin-top: 0;
    text-align: center;
    @media (max-width: 768px) {
      width: 100%;
      margin: 0;
    }
    p {
      text-align: left;
      @media (max-width: 768px) {
        margin: 3%;
      }
    }
  }
}

.education {
  padding-bottom: 2%;
  .educationStory {
    margin: 3%;
  }
  h6 {
    display: flex;
    div {
      padding-left: 10%;
      @media (max-width: 768px) {
        padding-left: 6%;
      }
    }
  }
  p {
    line-height: 10px;
  }
}

.current {
  padding-bottom: 2%;
  .currentStory {
    margin: 3%;
  }
}

.contact {
  article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    h3 {
      padding-top: 0;
    }
    div {
      padding-left: 5%;
      margin-bottom: 2%;
      a {
        padding-left: 2%;
      }
    }
    img {
      width: 32px;
      height: 32px;
    }
    .contact3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      p {
        padding-left: 2%;
      }
    }
  }
}

footer {
  height: 48px;
  background-color: #343a40;
  p {
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: white;
    margin-bottom: 0;
  }
}
